

.load-more-button{
    margin: 0 auto;
}
.header-news .header-search {     width: 310px;}
.header-news .header-search button {border: none;
  background: none;
  position: absolute;
  right: 20px;bottom: 20px; } 
  .bg-news { background-color: #F4F4F4; padding: 40px 0px;}